@model Notify.Models.Pedido

@{
    ViewBag.Title = "Detalls";
}

<h2>Comandes</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<p>
    @Html.ActionLink("Torna", "Index") | 
    @Html.ActionLink("Afegeix productes", "Create","Lineas")

</p>
