<!DOCTYPE html>
<html>
<head>
    <title>Sobre Notify</title>
</head>
<body>
    <h2>Sobre Notify</h2>
    <h4>Notify es una empresa dedicada a facilitar y agilizar el tiempo que pasan sus usuarios haciendo cola en los recesos,</h4>
    <h4></h4>
</body>
</html>
